body{
   font-family: 'Plus Jakarta Sans',sans-serif !important;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.container{
    flex:1;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#212121 !important ;
}

/* Footer work */
.f-info-links a {
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.f-info-links{
    display: flex;
  gap: 5px;
}

.f-info-socials i{
   margin-right: 1rem;
   font-size: 1.2rem;

}
.listing-link{
    text-decoration: none;
}

/* cards  */


.btns{
    display: flex;
}

.left-box{
    width: 50vw;
    height: 80vh;
    /* border: 2px solid black; */
    overflow: hidden;
    border-radius: 20px;
   

}
.left-box img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    border-radius: 20px;
    
}

.right-box{
    width: 40vw;
    height: 80vh;
    /* border: 2px solid black; */
}
.main-box{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 80vh;
    margin-top: 2%;
   
margin-bottom: 50px;
}
#title{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 4em;
    margin-top: 0.3em;
    margin-left: 1.3em;
    text-shadow: 2px 2px grey;
}
#description{
    font-weight: 600;
    margin-left: 5em;
    margin-top: 2em;
    word-spacing: 0.9em;
    width: 27em;
    font-size: 1.2em;
}
#owner{
    margin-left: 5.8em;
    margin-top: 1.7em;
    font-weight: 500;

}
#location{
    margin-left: 5.8em;
    margin-top: 1.7em;
    font-weight: 500;

}
#mobileNo{
    margin-left: 5.8em;
    margin-top: 1.7em;
    font-weight: 500;

}
#price{
    margin-left: 5.8em;
    margin-top: 1.7em;
    font-weight: 500;

}
#after-main-box{
    border:2px solid black;
    border-radius: 3px;
}