body{
 font-family: "Montserrat", sans-serif;;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   /* background: #fff3f5 !important; */

}
.container{
    flex:1;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color:#FFA203;
    font-size: 2rem;
}
.nav-link{
    color:#212121 !important ;
}

/* Footer work */
.f-info-links a {
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.f-info-links{
    display: flex;
  gap: 5px;
}

.f-info-socials i{
   margin-right: 1rem;
   font-size: 1.2rem;

}
.listing-link{
    text-decoration: none;
}

/* cards  */



.btns{
    display: flex;
}
.main-box {
    display: flex;
    height: 70vh;
    width: 80vw;
   
    margin-top: 2em;
    perspective: 100px;
}

.left-box{
   width: 40vw;
   height: 100%;
   perspective: 800px;
  
}
   
.left-box img{
    height: 100%;
    width: 100%;
    transform: translateZ(-100px) ;
    transition: all 2s ease-in-out;
    

}

.left-box img:hover{
    transform: rotateY(360deg);
    border-radius: 13px;
}

.right-box{
    /* width: 40vw;
    height: 80vh;
    display: flex;
    border: 2px solid black;
    flex-direction: column; */
}

#title{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 4em;
    margin-top: 0.3em;
    margin-left: 1.3em;
    text-shadow: 2px 2px grey;
}
#description{
    font-weight: 400;
    margin-left: 5em;
    margin-top: 1em;
    word-spacing: 0.9em;
    width: 27em;
    font-size: 1.2em;
}
#owner{
    margin-left: 5.8em;
    margin-top: 1.7em;
    font-weight: 400;

}
#location{
    margin-left: 5.8em;
    margin-top: 1.7em;
    font-weight: 400;

}
#mobileNo{
    margin-left: 5.8em;
    margin-top: 1.7em;
    font-weight: 400;

}
.btn-edit {
    width: 5em;
    margin-left: 5.8em;
        margin-top: 1.7em;
        font-weight: 400;
        background-color: #FFA203;
        padding:5px;
}
.btn-delete{
    width: 5em;
    margin-left: 2.8em;
        margin-top: 1.7em;
        font-weight: 400;
        background-color: #FFA203;
        padding:5px;
}
#price{
    margin-left: 5.8em;
    margin-top: 1.7em;
    font-weight: 400;

}
#after-main-box{
    border:2px solid black;
    border-radius: 3px;
}


.image-box{
    width: 20vw;  
    height: 60vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
   
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    border-radius: 15px;
}

.btns{
    display: flex;
}

.second-part{
    margin-top:1em;
}
.btn-nav{
    background-color: #FFA203;
    margin-left: 2em;
    border-radius: 4px;
    
}
.btn-login{
margin-right: 2em;
}
.logo{
    margin-left: 2em;
    font-size: 2em;
}
.explore{
    font-size: 1.7em !important;
    font-weight: 800 !important;
    
}
.new-list{
    font-size: 1.3em !important;
    font-weight: 800 !important;
}
.price-box{
    width: 30%;
    height: 100%;
    background-color: blue;
     border: 2px solid black;
}
.middle-part{
    display: flex;
    border: 2px solid black;
    width: inherit;
    height: 50vh;
    justify-content: space-around;
    

}
.middle-description{
    width: 50%;
    height: 100%;
    background-color: blue;
     border: 2px solid black;
}

